global
  # maxconn 4096
  daemon
  user nobody
  group nobody
  log 127.0.0.1 local1 debug

defaults
  # maxconn 4096
  option httplog
  log global
  option redispatch
  timeout connect 5s
  timeout client 30s
  timeout server 30s
  timeout http-request 10s

listen stats :1936
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth Username:Password

frontend public
  bind :80
  mode http
  tcp-request inspect-delay 5s
  tcp-request content accept if HTTP

  acl http_backend hdr_beg(host) -m beg monitor.
  use_backend be_monitor if http_backend

  default_backend be_default

backend be_monitor
  mode http
  option redispatch
  option forwardfor
  balance hdr(X-Forwarded-For)
  timeout check 5000ms
  option httpchk GET /healz HTTP/1.1\r\nHost:\ monitor.abc.com
  http-check expect rstatus 200
  server monitor_node 10.0.0.7:80 check inter 5000ms weight 100

backend be_default
  mode http
  option redispatch
  option forwardfor
  balance hdr(X-Forwarded-For)
  timeout check 5000ms
  server server_node 10.0.0.8:80 check inter 5000ms weight 100
